/* Place custom css here. */
.btn-dark {
  background: none !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  width: 3rem;
  height: auto;
}

.btn-dark::before {
  content: "☀️";
}

body.dark .btn-dark::before {
  content: "🌙";
}

.site-name {
  max-width: unset !important;
  overflow: visible !important;
}

.menu a {
  opacity: 0.44;
}

.menu a.active {
  opacity: 1 !important;
}
